fastapi[all]
pydantic
pydantic-settings
uvicorn
langchain-community
langchain-core
langchain-groq
chromadb
langchain-chroma
langchain-google-genai
pypdf
pdfplumber
python-docx
python-multipart
python-dotenv
pandas
motor
pymongo
python-socketio
redis
celery
beanie
passlib[bcrypt] 
python-jose[email]